body {
  margin: 0;
  font-size: 28px;
  font-family: "Noto Sans SC", sans-serif !important;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.navbar.slideDown {
  background-color: unset;
}

.no-padding {
  padding: 0 !important;
}

.sticky {
  top: -60px;
  opacity: 0;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.5s ease, top 0.5s ease;
  -moz-transition: opacity 0.5s ease, top 0.5s ease;
  -ms-transition: opacity 0.5s ease, top 0.5s ease;
  -o-transition: opacity 0.5s ease, top 0.5s ease;
  transition: opacity 0.5s ease, top 0.5s ease;
}

.sticky.slideDown {
  top: 0;
  opacity: 1;
}

.no-select {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.responsive-padding {
  padding-left: 6rem;
  padding-right: 6rem;
}

.responsive-margin {
  margin-left: 6rem;
  margin-right: 6rem;
}

.quick-contact-info {
  width: 100%;
}

.sticky.slideDown {
  background-color: #2c2c2c !important;
}

.quick-contact-info {
  height: 2rem;
  position: absolute;
  top: 0;
}
.quick-contact-info .mr-auto {
  margin-left: 1px;
  font-size: 0.71rem;
  color: white;
}
.quick-contact-info .fab, .quick-contact-info .fas {
  font-size: 0.8rem;
}
.quick-contact-info .fab {
  color: #C7C7C7;
}
.quick-contact-info .fas {
  color: #FDAE5C;
}
.quick-contact-info .row {
  height: 100%;
  align-items: center;
}
.quick-contact-info .col-auto {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.quick-contact-info .right-pad {
  padding-right: 0.8em;
}
.quick-contact-info a {
  font-size: 0.65rem;
  color: #C7C7C7;
  padding-left: 0.8em;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.quick-contact-info a span {
  padding-bottom: 0.1em;
  padding-left: 0.6em;
  padding-right: 0.8em;
}
.quick-contact-info a:hover {
  text-decoration: none;
}
.quick-contact-info i {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.navbar {
  background-color: #001D38 !important;
  z-index: 9998;
  padding-left: 5.85rem;
  padding-right: 5.85rem;
  padding-top: 0.7em;
}
.navbar .navbar-brand {
  margin: 0;
}
.navbar .navbar-brand .logo-img {
  object-fit: cover;
}
.navbar .justify-content-end a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .justify-content-end #icon-user {
  padding-top: 0.1em;
  padding-right: 0.5em;
  font-size: 0.6em;
  color: #FDAE5C;
}
.navbar .nav-link {
  color: white !important;
  font-size: 1.25rem;
  padding-left: 0.95rem;
  padding-right: 0.95rem;
}
.navbar .justify-content-center {
  padding-top: 0.1em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.navbar .justify-content-center .nav-item {
  position: relative;
}
.navbar .justify-content-center .nav-item.dropdown .dropdown-toggle::after {
  margin-left: 0.1em;
}
.navbar .justify-content-center .nav-item:not(.active-underline)::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 10%;
  opacity: 0;
  border-bottom: #727272 solid 5px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -1.04rem;
  transition: width ease-in 0.35s, opacity ease-in 0.35s;
}
.navbar .justify-content-center .nav-item:hover:not(.active-underline)::after {
  width: 75%;
  opacity: 1;
  transition: width ease-out 0.2s, opacity ease-out 0.2s;
}
.navbar .justify-content-center .nav-item.active-underline::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 75%;
  border-bottom: #FDAE5C solid 5px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -1.04rem;
  transition: bottom 250ms ease-in;
}

.nav-button:hover {
  cursor: pointer;
}

.navbar.sticky {
  border-bottom: none;
}
.navbar.sticky .nav-item.active-underline::after, .navbar.sticky .nav-item:not(.active-underline)::after {
  bottom: -0.88rem;
}

@media only screen and (max-width: 768px) {
  .responsive-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .responsive-margin {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .navbar {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }

  .navbar {
    justify-content: space-between !important;
  }

  .nav-item.active-underline::after {
    border-bottom: 0 !important;
  }

  .justify-content-end {
    padding-left: 0.95rem;
  }
}

/*# sourceMappingURL=styles.css.map */
