$main-yellow: #FDAE5C;
$main-dark-grey: #727272;
$main-dark-blue: #001D38;

body {
  margin: 0;
  font-size: 28px;
  font-family: 'Noto Sans SC', sans-serif !important;
}

.land-section {
  background-position-y: -1px;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: calc(100vw * 138 / 192 - 1px);
  opacity: 0.4;

  transition: background-image 1500ms ease-in-out, height 1500ms ease-in-out;

  .book-flight > div {
    //margin: 0 1vw;
  }

  .book-flight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 0.5rem;
    padding: 1rem calc(5.2vw + 1.7px);
    margin: 1rem 6rem;

    position: absolute;
    left: 0;
    right: 0;

    opacity: 0;
    top: 200px;

    .airport-def:hover {
      cursor: pointer;
    }

    .airport-def {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 1;
      justify-content: end;

      .abbreviation {
        color: white;
        font-size: 3.51vw;
        padding-bottom: 0.7rem;
      }

      .description {
        color: white;
        font-size: 0.877vw;
        padding-bottom: 0.5rem;
        text-align: center;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .dropdown.dir, .dropdown.num {
      display: flex;
      align-items: center;

      .menu {
        width: fit-content;
        width: -moz-fit-content;
      }
    }

    .drop-indicator {
      background-image: url("/img/chevron-down.svg");
      background-repeat: no-repeat;
      background-position: center;
      height: 22px;
      width: 22px;
      margin: 3px 0 0 12px;
    }

    .drop-indicator.far {
      background-image: unset;
      font-size: 21px;
      color: $main-yellow;
    }

    .drop-indicator::after {
      position: absolute;
      content: "";
      left: -4%;
      right: 0;
      margin: auto;
      display: inline-block;
      border-bottom: $main-yellow solid 2px;
      opacity: 0.6;
      bottom: 0.775rem;
      width: 108%;
    }

    .drop-desc,
    .drop-num {
      color: white !important;
      font-size: calc(1vw + 4.6px);
    }

    .direction {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 4%;
    }

    .direction:hover {
      cursor: pointer;
    }

    .direction.back-forth {
      background-image: url("/img/back-forth-arrow.svg");
    }

    .direction.to-right {
      background-image: url("/img/arrow-right.svg");
    }


    .labeled.button {
      width: 10%;
      min-width: 10%;
      max-width: 10%;
    }

    .labeled.button.dir {
      width: 15%;
      min-width: 15%;
      max-width: 15%;

      .drop-desc {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .drop-num {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .book-now {
      width: 3.8%;
      max-width: 3.8%;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        color: $main-yellow;
        font-size: 32px;
      }
    }

    .book-now:hover {
      cursor: pointer;
    }

    .labeled.button.visible {
      .menu-container {
        display: unset !important;
      }
    }

    .xxs-spacer {
      width: 0.125%;
      min-width: 0.125%;
    }

    .xs-spacer {
      width: 0.5%;
      min-width: 0.5%;
    }

    .sm-spacer {
      width: 1%;
      min-width: 1%;
    }

    .date-container {
      display: flex;
      width: 17%;
      max-width: 21%;
      justify-content: center;
      position: relative;
      align-items: center;

      .input-group-addon {
        color: white;
        width: 9px;
        margin: 0 1px;
        padding-bottom: 5px;
        overflow: hidden;
      }

      .form-control {
        box-shadow: none;
        height: unset;
        font-size: calc(1vw + 4.6px);
        color: white;
        padding: 0;
        background-color: rgba(0, 0, 0, 0);
        outline: unset;
        border: none rgba(0, 0, 0, 0);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .form-control:hover {
        cursor: pointer;
      }

      .form-control:focus {
        cursor: unset;
      }

    }

    .dropdown.num {
      width: 15%;
      max-width: 15%;
    }

    .menu-container {
      z-index: 9997;
      display: none;
      position: absolute;
    }

    .menu-container {
      .text {
        text-overflow: ellipsis;

      }

      .search {
        font-size: 1.25rem;

        input {
          border-radius: .28571429rem;
          outline: 0;
          width: 100%;
          -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
          text-align: left;
          line-height: 1.21428571em;
          padding: .67857143em 1em;
          background: #fff;
          border: 1px solid rgba(34, 36, 38, .15);
          color: rgba(0, 0, 0, .87);
          -webkit-transition: border-color .1s ease, -webkit-box-shadow .1s ease;
          transition: border-color .1s ease, -webkit-box-shadow .1s ease;
          transition-property: box-shadow, border-color, -webkit-box-shadow;
          transition-duration: 0.1s, 0.1s, 0.1s;
          transition-timing-function: ease, ease, ease;
          transition-delay: 0s, 0s, 0s;
          transition: box-shadow .1s ease, border-color .1s ease;
          transition-property: box-shadow, border-color, -webkit-box-shadow;
          transition-duration: 0.1s, 0.1s, 0.1s;
          transition-timing-function: ease, ease, ease;
          transition-delay: 0s, 0s, 0s;
          transition: box-shadow .1s ease, border-color .1s ease, -webkit-box-shadow .1s ease;
          transition-property: box-shadow, border-color, -webkit-box-shadow;
          transition-duration: 0.1s, 0.1s, 0.1s;
          transition-timing-function: ease, ease, ease;
          transition-delay: 0s, 0s, 0s;
          -webkit-box-shadow: none;
          box-shadow: none;
        }

        input:focus {
          border: 1px solid $main-yellow;
        }

        input:focus::placeholder {
          color: #5d5d5d;
          opacity: 1; /* Firefox */
        }

        input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #5d5d5d;
        }

        input:focus::-ms-input-placeholder { /* Microsoft Edge */
          color: #5d5d5d;
        }

        input::placeholder {
          color: #dcdcdc;
          opacity: 1; /* Firefox */

        }

        input:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #dcdcdc;
        }

        input::-ms-input-placeholder { /* Microsoft Edge */
          color: #dcdcdc;
        }
      }

      .menu {
        width: 30vw;

        .item {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }

  #welcome-message {
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 3.5rem;
    top: 335px;
    opacity: 0;
    text-shadow: rgba(0, 0, 0, 0.35) 2px 2px 10px;
  }

  #tag-line {
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    top: 395px;
    opacity: 0;
    text-shadow: rgba(0, 0, 0, 0.35) 2px 2px 10px;
  }
}

.modal {
  z-index: 9998;

  .modal-dialog {
    max-width: calc(100vw - 16px - 12rem);
  }

  .modal-footer {
    .btn-primary {
      background-color: $main-yellow;
      border-color: $main-yellow;
    }

    .btn-primary:hover {
      background-color: #d7964b;
      border-color: #de9a4f;
    }
  }
}

#loginModal {
  .modal-body {
    height: 65vh;
    flex-direction: row;
    display: flex;
    justify-content: center;

    .left, .right {
      flex: 1;
    }

    .right {
      position: relative;
    }

    .left, .right .jumbotron {
      height: 100%;
    }

    .right-container {
      position: absolute;
      padding: 4rem 15vw 4rem 15px;

      small, .invalid-feedback {
        font-size: 50%;
      }

      .hasvalue {
        font-weight: bolder;
        letter-spacing: -5px;
      }

      label {
        font-size: 1.25rem;
      }

      .right-container.form-group {
        margin-bottom: 0.75rem;

        a {
          color: #6c757d !important;
        }
      }

      .left-container.form-group {
        margin-bottom: 0.5rem;
      }
    }
  }


  form {
    padding: 0;
  }

}

button:disabled {
  cursor: default;
  pointer-events: all !important;
}

#bookModal {
  max-height: 100vh;
  min-height: 100vh;

  .modal-body {
    span.details {
      padding-right: 5%;
    }

    display: flex;
    flex-direction: column;

    .details {
      font-size: 1rem;
    }

    .list-group {
      padding-top: 1rem;
    }

    .flight-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 30px;

      .airline-logo {
        padding: 0 40px 0 0px;

        img {
          width: 85%;
          height: auto;
        }
      }
    }

    .price-type-container {
      padding-left: 7.5%;
    }

    .just-left {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    font-size: 1.2rem;

    .is-small {
      font-size: 0.75rem;
      color: #2c2c2cba;
    }
  }
}

footer {
  font-size: 1rem;

  .disabled.btn-link {
    padding: 0;
  }

  .copyright-container {
    padding: 0.8rem 0 3.5rem;

    .slant {
      font-size: 72%;
      font-style: italic;
    }
  }
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.navbar.slideDown {
  background-color: unset;
}

.no-padding {
  padding: 0 !important;
}

.signout-drop {
  display: none;
  position: absolute;
  opacity: 0;
  background-color: #3c3c3c;
  color: white;
  font-size: 1.25rem;
  white-space: nowrap;
  padding: 10px 20px;
  right: 0;
  border-radius: 5px;
}

.signout-drop:hover {
  cursor: pointer;
  background-color: #353535;
}

.sticky {
  top: -60px;
  opacity: 0;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .1);

  -webkit-transition: opacity 0.5s ease, top 0.5s ease;
  -moz-transition: opacity 0.5s ease, top 0.5s ease;
  -ms-transition: opacity 0.5s ease, top 0.5s ease;
  -o-transition: opacity 0.5s ease, top 0.5s ease;
  transition: opacity 0.5s ease, top 0.5s ease;
}

.sticky.slideDown {
  top: 0;
  opacity: 1;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.responsive-padding {
  padding-left: 6rem;
  padding-right: 6rem;
}

.responsive-margin {
  margin-left: 6rem;
  margin-right: 6rem;
}

.quick-contact-info {
  width: 100%;
}

.sticky.slideDown {
  //background-color: #2c2c2c !important;
}

.quick-contact-info {
  height: 2rem;
  position: absolute;
  top: 0;

  .mr-auto {
    margin-left: 1px;
    font-size: 0.71rem;
    color: white;
  }

  .fab, .fas {
    font-size: 0.8rem;
  }

  .fab {
    color: #C7C7C7;
  }

  .fas {
    color: $main-yellow;
  }

  .row {
    height: 100%;
    align-items: center;
  }


  .col-auto {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .right-pad {
    padding-right: 0.8em;
  }

  a {
    font-size: 0.65rem;
    color: #C7C7C7;
    padding-left: 0.8em;
    display: flex;
    justify-content: center;
    flex-direction: row;

    span {
      padding-bottom: 0.1em;
      padding-left: 0.6em;
      padding-right: 0.8em;
    }
  }

  a:hover {
    text-decoration: none;
  }

  i {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column
  }
}

header {
  .navbar {
    background-color: $main-dark-blue !important;
    z-index: 9996;
    padding-left: 5.85rem;
    padding-right: 5.85rem;
    padding-top: 0.7em;

    .navbar-brand {
      margin: 0;

      .logo-img {
        object-fit: cover;
      }
    }

    .justify-content-end {
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      #icon-user {
        padding-top: 0.3em;
        padding-right: 0.5em;
        font-size: 0.6em;
        color: $main-yellow;
      }
    }

    .nav-link {
      color: white !important;
      font-size: 1.25rem;
      padding-left: 0.95rem;
      padding-right: 0.95rem;
    }

    //border-bottom: 2px solid rgba(255, 255, 255, 0.68);

    .justify-content-center {
      padding-top: 0.1em;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);

      .nav-item {
        position: relative;
      }

      .nav-item.dropdown {
        .dropdown-toggle::after {
          margin-left: 0.1em;
        }
      }

      .nav-item:not(.active-underline)::after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 10%;
        opacity: 0;
        border-bottom: $main-dark-grey solid 5px;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -1.04rem;

        transition: width ease-in 0.35s, opacity ease-in 0.35s;
      }

      .nav-item:hover:not(.active-underline)::after {
        width: 75%;
        opacity: 1;

        transition: width ease-out 0.2s, opacity ease-out 0.2s;

      }

      .nav-item.active-underline::after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 75%;
        border-bottom: $main-yellow solid 5px;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -1.04rem;

        transition: bottom 250ms ease-in;
      }

    }
  }

  .nav-button:hover {
    cursor: pointer;
  }

  .navbar.sticky {
    border-bottom: none;

    .nav-item.active-underline::after, .nav-item:not(.active-underline)::after {
      bottom: -0.88rem;
    }

  }
}

@media only screen and (max-width: 768px) {
  .responsive-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .responsive-margin {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  header {
    .navbar {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .navbar {
      justify-content: space-between !important;
    }

    .nav-item.active-underline::after {
      border-bottom: 0 !important;
    }

    .justify-content-end {
      padding-left: 0.95rem;
    }
  }
}

.return-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8b8b8b;
  color: white;
  min-height: 8vh;
  width: 100%;

  transition: background-color 200ms ease-in;
}

.return-to-top:hover {
  cursor: pointer;
  background-color: $main-dark-grey;
  transition: background-color 500ms ease-out;
}

.book-flight-m {
  display: none;
}

.is-hide {
  display: none;
}


.no-click {
  color: #6e6e6e !important;
}

.no-click:hover {
  background: none !important;
  cursor: context-menu !important;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4.2vh;
  padding-left: 0 !important;
  padding-right: 0 !important;

  .basis-100 {
    flex-basis: 100%;
  }

  .small-desc {
    font-size: 55%;
    font-weight: bolder;
    color: #002a50
  }

  .big-splash {
    margin-top: 1.8vh;
    font-size: 125%;
    color: #002e58
  }
}

.home-content{
  .white-bg-container {
    padding: 2.125rem 6rem 2rem;

    .new-card-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      .left, .right {
        flex: 1;

        img {
          width: 100%;
          padding: 0 2vw;
        }

        margin: 0 5.5vw;
      }

      .right:hover {
        cursor: pointer;
      }

      .right {
        display: flex;
        align-items: center;

        .title {
          font-size: 55%;
          font-weight: bolder;
          color: #002e58;
          padding-bottom: 1vh;
        }

        .desc {
          font-size: 52%;
          color: $main-dark-blue
        }

        .sym {
          padding-left: 8px;
          i {
            font-size: 70%;
            color: $main-yellow;
          }
        }
      }
    }

    .background-img {
      background-color: #cbf7ff;
      background-image: url('https://pixboost.com/api/2/img/https://sfgo.today/img/backpacker.jpg/resize?size=1566&auth=MTc5MzczMTIxMA__');
      background-size: cover;
      width: 100%;
      max-height: 70vh;

      .box {
        padding-left: 8.4%;
        padding-top: 9%;
        padding-bottom: 9.6%;
        height: 83%;
        width: 35%;

        .box-txt-container:hover{
          cursor: pointer;
        }
        .box-txt-container {
          padding: 2vw;
          background-color: $main-dark-blue;
          display: flex;
          align-items: center;

          .title {
            font-size: 55%;
            font-weight: bolder;
            color: white;
            padding-bottom: 1vh;
          }

          .desc {
            font-size: 52%;
            color: white
          }

          .sym {
            padding-left: 10px;
            i {
              font-size: 70%;
              color: $main-yellow;
            }
          }

          div {
            color: white;
          }

        }
      }
    }
  }
  .btn{
    background-color: $main-yellow;
    border-radius: 0 !important;
    color: white !important;
    font-size: 70%;
    padding: 15px 75px;
  }

  .deals-dest{
    padding: 4.5rem 6rem 6.5rem;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    background-color: rgb(245, 251, 253);
    width: 100%;
  }

  .xl-splash{
    font-size: 125%;
    color: #002e58;
    position: relative;
  }
  .xl-splash:after{
    position: absolute;
    left: 0;
    bottom: -3.5px;
    width: 25%;
    content: '';
    border-bottom: $main-yellow 3.5px solid;
  }

  .deals-container{
    .slick-prev{
      left: -30px;
    }
    .slick-slide {
      margin: 0 15px;
    }
    .slick-list {
      margin: 0 -15px;
    }

    padding-top: 2.5rem;
    .slick-arrow:before{
      color: $main-dark-blue;
      font-size: 25px;
    }

    .deal-card{
      background-color: white;
      img{
        width: 100%;
      }

      .txt-sym-container{
        display: flex;
        align-items: center;
        padding: 4vh 2.5vw;
        i{
          padding-left: 8px;
          color: $main-yellow;
        }
      }

      .title {
        font-size: 55%;
        font-weight: bolder;
        color: #002e58;
        padding-bottom: 1vh;
      }

      .desc {
        font-size: 52%;
        color: $main-dark-blue
      }
    }
  }
}
















