body {
  margin: 0;
  font-size: 28px;
  font-family: "Noto Sans SC", sans-serif !important;
}

.land-section {
  background-position-y: -1px;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: calc(100vw * 138 / 192 - 1px);
  opacity: 0.4;
  transition: background-image 1500ms ease-in-out, height 1500ms ease-in-out;
}
.land-section .book-flight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 0.5rem;
  padding: 1rem calc(5.2vw + 1.7px);
  margin: 1rem 6rem;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  top: 200px;
}
.land-section .book-flight .airport-def:hover {
  cursor: pointer;
}
.land-section .book-flight .airport-def {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  justify-content: end;
}
.land-section .book-flight .airport-def .abbreviation {
  color: white;
  font-size: 3.51vw;
  padding-bottom: 0.7rem;
}
.land-section .book-flight .airport-def .description {
  color: white;
  font-size: 0.877vw;
  padding-bottom: 0.5rem;
  text-align: center;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.land-section .book-flight .dropdown.dir, .land-section .book-flight .dropdown.num {
  display: flex;
  align-items: center;
}
.land-section .book-flight .dropdown.dir .menu, .land-section .book-flight .dropdown.num .menu {
  width: fit-content;
  width: -moz-fit-content;
}
.land-section .book-flight .drop-indicator {
  background-image: url("/img/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 22px;
  width: 22px;
  margin: 3px 0 0 12px;
}
.land-section .book-flight .drop-indicator.far {
  background-image: unset;
  font-size: 21px;
  color: #FDAE5C;
}
.land-section .book-flight .drop-indicator::after {
  position: absolute;
  content: "";
  left: -4%;
  right: 0;
  margin: auto;
  display: inline-block;
  border-bottom: #FDAE5C solid 2px;
  opacity: 0.6;
  bottom: 0.775rem;
  width: 108%;
}
.land-section .book-flight .drop-desc,
.land-section .book-flight .drop-num {
  color: white !important;
  font-size: calc(1vw + 4.6px);
}
.land-section .book-flight .direction {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 4%;
}
.land-section .book-flight .direction:hover {
  cursor: pointer;
}
.land-section .book-flight .direction.back-forth {
  background-image: url("/img/back-forth-arrow.svg");
}
.land-section .book-flight .direction.to-right {
  background-image: url("/img/arrow-right.svg");
}
.land-section .book-flight .labeled.button {
  width: 10%;
  min-width: 10%;
  max-width: 10%;
}
.land-section .book-flight .labeled.button.dir {
  width: 15%;
  min-width: 15%;
  max-width: 15%;
}
.land-section .book-flight .labeled.button.dir .drop-desc {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.land-section .book-flight .drop-num {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.land-section .book-flight .book-now {
  width: 3.8%;
  max-width: 3.8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.land-section .book-flight .book-now i {
  color: #FDAE5C;
  font-size: 32px;
}
.land-section .book-flight .book-now:hover {
  cursor: pointer;
}
.land-section .book-flight .labeled.button.visible .menu-container {
  display: unset !important;
}
.land-section .book-flight .xxs-spacer {
  width: 0.125%;
  min-width: 0.125%;
}
.land-section .book-flight .xs-spacer {
  width: 0.5%;
  min-width: 0.5%;
}
.land-section .book-flight .sm-spacer {
  width: 1%;
  min-width: 1%;
}
.land-section .book-flight .date-container {
  display: flex;
  width: 17%;
  max-width: 21%;
  justify-content: center;
  position: relative;
  align-items: center;
}
.land-section .book-flight .date-container .input-group-addon {
  color: white;
  width: 9px;
  margin: 0 1px;
  padding-bottom: 5px;
  overflow: hidden;
}
.land-section .book-flight .date-container .form-control {
  box-shadow: none;
  height: unset;
  font-size: calc(1vw + 4.6px);
  color: white;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  outline: unset;
  border: none rgba(0, 0, 0, 0);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.land-section .book-flight .date-container .form-control:hover {
  cursor: pointer;
}
.land-section .book-flight .date-container .form-control:focus {
  cursor: unset;
}
.land-section .book-flight .dropdown.num {
  width: 15%;
  max-width: 15%;
}
.land-section .book-flight .menu-container {
  z-index: 9997;
  display: none;
  position: absolute;
}
.land-section .book-flight .menu-container .text {
  text-overflow: ellipsis;
}
.land-section .book-flight .menu-container .search {
  font-size: 1.25rem;
}
.land-section .book-flight .menu-container .search input {
  border-radius: 0.28571429rem;
  outline: 0;
  width: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition-property: box-shadow, border-color, -webkit-box-shadow;
  transition-duration: 0.1s, 0.1s, 0.1s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0s;
  transition: box-shadow 0.1s ease, border-color 0.1s ease;
  transition-property: box-shadow, border-color, -webkit-box-shadow;
  transition-duration: 0.1s, 0.1s, 0.1s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0s;
  transition: box-shadow 0.1s ease, border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition-property: box-shadow, border-color, -webkit-box-shadow;
  transition-duration: 0.1s, 0.1s, 0.1s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0s;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.land-section .book-flight .menu-container .search input:focus {
  border: 1px solid #FDAE5C;
}
.land-section .book-flight .menu-container .search input:focus::placeholder {
  color: #5d5d5d;
  opacity: 1;
  /* Firefox */
}
.land-section .book-flight .menu-container .search input:focus:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #5d5d5d;
}
.land-section .book-flight .menu-container .search input:focus::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #5d5d5d;
}
.land-section .book-flight .menu-container .search input::placeholder {
  color: #dcdcdc;
  opacity: 1;
  /* Firefox */
}
.land-section .book-flight .menu-container .search input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dcdcdc;
}
.land-section .book-flight .menu-container .search input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dcdcdc;
}
.land-section .book-flight .menu-container .menu {
  width: 30vw;
}
.land-section .book-flight .menu-container .menu .item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.land-section #welcome-message {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 3.5rem;
  top: 335px;
  opacity: 0;
  text-shadow: rgba(0, 0, 0, 0.35) 2px 2px 10px;
}
.land-section #tag-line {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  top: 395px;
  opacity: 0;
  text-shadow: rgba(0, 0, 0, 0.35) 2px 2px 10px;
}

.modal {
  z-index: 9998;
}
.modal .modal-dialog {
  max-width: calc(100vw - 16px - 12rem);
}
.modal .modal-footer .btn-primary {
  background-color: #FDAE5C;
  border-color: #FDAE5C;
}
.modal .modal-footer .btn-primary:hover {
  background-color: #d7964b;
  border-color: #de9a4f;
}

#loginModal .modal-body {
  height: 65vh;
  flex-direction: row;
  display: flex;
  justify-content: center;
}
#loginModal .modal-body .left, #loginModal .modal-body .right {
  flex: 1;
}
#loginModal .modal-body .right {
  position: relative;
}
#loginModal .modal-body .left, #loginModal .modal-body .right .jumbotron {
  height: 100%;
}
#loginModal .modal-body .right-container {
  position: absolute;
  padding: 4rem 15vw 4rem 15px;
}
#loginModal .modal-body .right-container small, #loginModal .modal-body .right-container .invalid-feedback {
  font-size: 50%;
}
#loginModal .modal-body .right-container .hasvalue {
  font-weight: bolder;
  letter-spacing: -5px;
}
#loginModal .modal-body .right-container label {
  font-size: 1.25rem;
}
#loginModal .modal-body .right-container .right-container.form-group {
  margin-bottom: 0.75rem;
}
#loginModal .modal-body .right-container .right-container.form-group a {
  color: #6c757d !important;
}
#loginModal .modal-body .right-container .left-container.form-group {
  margin-bottom: 0.5rem;
}
#loginModal form {
  padding: 0;
}

button:disabled {
  cursor: default;
  pointer-events: all !important;
}

#bookModal {
  max-height: 100vh;
  min-height: 100vh;
}
#bookModal .modal-body {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
#bookModal .modal-body span.details {
  padding-right: 5%;
}
#bookModal .modal-body .details {
  font-size: 1rem;
}
#bookModal .modal-body .list-group {
  padding-top: 1rem;
}
#bookModal .modal-body .flight-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}
#bookModal .modal-body .flight-container .airline-logo {
  padding: 0 40px 0 0px;
}
#bookModal .modal-body .flight-container .airline-logo img {
  width: 85%;
  height: auto;
}
#bookModal .modal-body .price-type-container {
  padding-left: 7.5%;
}
#bookModal .modal-body .just-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#bookModal .modal-body .is-small {
  font-size: 0.75rem;
  color: #2c2c2cba;
}

footer {
  font-size: 1rem;
}
footer .disabled.btn-link {
  padding: 0;
}
footer .copyright-container {
  padding: 0.8rem 0;
}
footer .copyright-container .slant {
  font-size: 72%;
  font-style: italic;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.navbar.slideDown {
  background-color: unset;
}

.no-padding {
  padding: 0 !important;
}

.signout-drop {
  display: none;
  position: absolute;
  opacity: 0;
  background-color: #3c3c3c;
  color: white;
  font-size: 1.25rem;
  white-space: nowrap;
  padding: 10px 20px;
  right: 0;
  border-radius: 5px;
}

.signout-drop:hover {
  cursor: pointer;
  background-color: #353535;
}

.sticky {
  top: -60px;
  opacity: 0;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.5s ease, top 0.5s ease;
  -moz-transition: opacity 0.5s ease, top 0.5s ease;
  -ms-transition: opacity 0.5s ease, top 0.5s ease;
  -o-transition: opacity 0.5s ease, top 0.5s ease;
  transition: opacity 0.5s ease, top 0.5s ease;
}

.sticky.slideDown {
  top: 0;
  opacity: 1;
}

.no-select {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.responsive-padding {
  padding-left: 6rem;
  padding-right: 6rem;
}

.responsive-margin {
  margin-left: 6rem;
  margin-right: 6rem;
}

.quick-contact-info {
  width: 100%;
}

.quick-contact-info {
  height: 2rem;
  position: absolute;
  top: 0;
}
.quick-contact-info .mr-auto {
  margin-left: 1px;
  font-size: 0.71rem;
  color: white;
}
.quick-contact-info .fab, .quick-contact-info .fas {
  font-size: 0.8rem;
}
.quick-contact-info .fab {
  color: #C7C7C7;
}
.quick-contact-info .fas {
  color: #FDAE5C;
}
.quick-contact-info .row {
  height: 100%;
  align-items: center;
}
.quick-contact-info .col-auto {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.quick-contact-info .right-pad {
  padding-right: 0.8em;
}
.quick-contact-info a {
  font-size: 0.65rem;
  color: #C7C7C7;
  padding-left: 0.8em;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.quick-contact-info a span {
  padding-bottom: 0.1em;
  padding-left: 0.6em;
  padding-right: 0.8em;
}
.quick-contact-info a:hover {
  text-decoration: none;
}
.quick-contact-info i {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

header .navbar {
  background-color: #001D38 !important;
  z-index: 9996;
  padding-left: 5.85rem;
  padding-right: 5.85rem;
  padding-top: 0.7em;
}
header .navbar .navbar-brand {
  margin: 0;
}
header .navbar .navbar-brand .logo-img {
  object-fit: cover;
}
header .navbar .justify-content-end a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .navbar .justify-content-end #icon-user {
  padding-top: 0.3em;
  padding-right: 0.5em;
  font-size: 0.6em;
  color: #FDAE5C;
}
header .navbar .nav-link {
  color: white !important;
  font-size: 1.25rem;
  padding-left: 0.95rem;
  padding-right: 0.95rem;
}
header .navbar .justify-content-center {
  padding-top: 0.1em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
header .navbar .justify-content-center .nav-item {
  position: relative;
}
header .navbar .justify-content-center .nav-item.dropdown .dropdown-toggle::after {
  margin-left: 0.1em;
}
header .navbar .justify-content-center .nav-item:not(.active-underline)::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 10%;
  opacity: 0;
  border-bottom: #727272 solid 5px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -1.04rem;
  transition: width ease-in 0.35s, opacity ease-in 0.35s;
}
header .navbar .justify-content-center .nav-item:hover:not(.active-underline)::after {
  width: 75%;
  opacity: 1;
  transition: width ease-out 0.2s, opacity ease-out 0.2s;
}
header .navbar .justify-content-center .nav-item.active-underline::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 75%;
  border-bottom: #FDAE5C solid 5px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -1.04rem;
  transition: bottom 250ms ease-in;
}
header .nav-button:hover {
  cursor: pointer;
}
header .navbar.sticky {
  border-bottom: none;
}
header .navbar.sticky .nav-item.active-underline::after, header .navbar.sticky .nav-item:not(.active-underline)::after {
  bottom: -0.88rem;
}

@media only screen and (max-width: 768px) {
  .responsive-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .responsive-margin {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  header .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  header .navbar {
    justify-content: space-between !important;
  }
  header .nav-item.active-underline::after {
    border-bottom: 0 !important;
  }
  header .justify-content-end {
    padding-left: 0.95rem;
  }
}
.return-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8b8b8b;
  color: white;
  min-height: 8vh;
  width: 100%;
  transition: background-color 200ms ease-in;
}

.return-to-top:hover {
  cursor: pointer;
  background-color: #727272;
  transition: background-color 500ms ease-out;
}

.book-flight-m {
  display: none;
}

.is-hide {
  display: none;
}

.no-click {
  color: #6e6e6e !important;
}

.no-click:hover {
  background: none !important;
  cursor: context-menu !important;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4.2vh;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.content-container .basis-100 {
  flex-basis: 100%;
}
.content-container .small-desc {
  font-size: 55%;
  font-weight: bolder;
  color: #002a50;
}
.content-container .big-splash {
  margin-top: 1.8vh;
  font-size: 125%;
  color: #002e58;
}

.home-content .white-bg-container {
  padding: 2.125rem 6rem 2rem;
}
.home-content .white-bg-container .new-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-content .white-bg-container .new-card-container .left, .home-content .white-bg-container .new-card-container .right {
  flex: 1;
  margin: 0 5.5vw;
}
.home-content .white-bg-container .new-card-container .left img, .home-content .white-bg-container .new-card-container .right img {
  width: 100%;
  padding: 0 2vw;
}
.home-content .white-bg-container .new-card-container .right:hover {
  cursor: pointer;
}
.home-content .white-bg-container .new-card-container .right {
  display: flex;
  align-items: center;
}
.home-content .white-bg-container .new-card-container .right .title {
  font-size: 55%;
  font-weight: bolder;
  color: #002e58;
  padding-bottom: 1vh;
}
.home-content .white-bg-container .new-card-container .right .desc {
  font-size: 52%;
  color: #001D38;
}
.home-content .white-bg-container .new-card-container .right .sym {
  padding-left: 8px;
}
.home-content .white-bg-container .new-card-container .right .sym i {
  font-size: 70%;
  color: #FDAE5C;
}
.home-content .white-bg-container .background-img {
  background-color: #cbf7ff;
  background-image: url("https://pixboost.com/api/2/img/https://sfgo.today/img/backpacker.jpg/resize?size=1566&auth=MTc5MzczMTIxMA__");
  background-size: cover;
  width: 100%;
  max-height: 70vh;
}
.home-content .white-bg-container .background-img .box {
  padding-left: 8.4%;
  padding-top: 9%;
  padding-bottom: 9.6%;
  height: 83%;
  width: 35%;
}
.home-content .white-bg-container .background-img .box .box-txt-container:hover {
  cursor: pointer;
}
.home-content .white-bg-container .background-img .box .box-txt-container {
  padding: 2vw;
  background-color: #001D38;
  display: flex;
  align-items: center;
}
.home-content .white-bg-container .background-img .box .box-txt-container .title {
  font-size: 55%;
  font-weight: bolder;
  color: white;
  padding-bottom: 1vh;
}
.home-content .white-bg-container .background-img .box .box-txt-container .desc {
  font-size: 52%;
  color: white;
}
.home-content .white-bg-container .background-img .box .box-txt-container .sym {
  padding-left: 10px;
}
.home-content .white-bg-container .background-img .box .box-txt-container .sym i {
  font-size: 70%;
  color: #FDAE5C;
}
.home-content .white-bg-container .background-img .box .box-txt-container div {
  color: white;
}
.home-content .btn {
  background-color: #FDAE5C;
  border-radius: 0 !important;
  color: white !important;
  font-size: 70%;
  padding: 15px 75px;
}
.home-content .deals-dest {
  padding: 5rem 6rem 2.5rem;
}
.home-content .xl-splash {
  font-size: 125%;
  color: #002e58;
  position: relative;
}
.home-content .xl-splash:after {
  position: absolute;
  left: 0;
  bottom: -3.5px;
  width: 10%;
  content: "";
  border-bottom: #FDAE5C 3.5px solid;
}

/*# sourceMappingURL=styles.css.map */
