$main-yellow: #FDAE5C;
$main-dark-grey: #727272;
$main-dark-blue: #001D38;

body {
  margin: 0;
  font-size: 28px;
  font-family: 'Noto Sans SC', sans-serif !important;
}

.land-section {
  background-position-y: -1px;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: calc(100vw * 138 / 192 - 1px);
  opacity: 0;

  .book-flight > div {
    margin: 0 1vw;
  }

  .book-flight {
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;

    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 0.5rem;
    padding: 1rem 6rem;

    position: absolute;
    left: 0;
    right: 0;

    opacity: 0;
    top: 200px;

    .airport-def:hover {
      cursor: pointer;
    }

    .airport-def {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 1;
      justify-content: center;

      .abbreviation {
        color: white;
        font-size: 3.2rem;
        padding-bottom: 0.7rem;
      }

      .description {
        color: white;
        font-size: 0.8rem;
        padding-bottom: 0.5rem;
        text-align: center;
      }
    }

    .dropdown.dir {
      display: flex;
      align-items: center;
      .menu{
        width: fit-content;
        width: -moz-fit-content;
      }
    }

    .drop-indicator {
      background-image: url("/img/chevron-down.svg");
      background-repeat: no-repeat;
      background-position: center;
      height: 22px;
      width: 22px;
      margin: 3px 0 0 12px;
    }

    .drop-indicator::after{
      position: absolute;
      content: "";
      left: -4%;
      right: 0;
      margin: auto;
      display: inline-block;
      border-bottom: $main-yellow solid 2px;
      opacity: 0.6;
      bottom: 0.775rem;
      width: 108%;
    }

    .drop-desc {
      color: white !important;
      font-size: 1.40rem;
    }

    .direction {
      background-repeat: no-repeat;
      background-position: center;
      width: 38px;
    }

    .direction.back-forth {
      background-image: url("/img/back-forth-arrow.svg");
    }

    .direction.to-right {
      background-image: url("/img/arrow-right.svg");
    }

    .labeled.button.dest.visible{
      .menu-container{
        display: unset !important;
      }
    }

    .menu-container{
      z-index: 9998;
      display: none;
      position: absolute;
    }

    .dropdown {

      .search {
        font-size: 1.25rem;

        input {
          border-radius: .28571429rem;
          outline: 0;
          width: 100%;
          -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
          text-align: left;
          line-height: 1.21428571em;
          padding: .67857143em 1em;
          background: #fff;
          border: 1px solid rgba(34, 36, 38, .15);
          color: rgba(0, 0, 0, .87);
          -webkit-transition: border-color .1s ease, -webkit-box-shadow .1s ease;
          transition: border-color .1s ease, -webkit-box-shadow .1s ease;
          transition-property: box-shadow, border-color, -webkit-box-shadow;
          transition-duration: 0.1s, 0.1s, 0.1s;
          transition-timing-function: ease, ease, ease;
          transition-delay: 0s, 0s, 0s;
          transition: box-shadow .1s ease, border-color .1s ease;
          transition-property: box-shadow, border-color, -webkit-box-shadow;
          transition-duration: 0.1s, 0.1s, 0.1s;
          transition-timing-function: ease, ease, ease;
          transition-delay: 0s, 0s, 0s;
          transition: box-shadow .1s ease, border-color .1s ease, -webkit-box-shadow .1s ease;
          transition-property: box-shadow, border-color, -webkit-box-shadow;
          transition-duration: 0.1s, 0.1s, 0.1s;
          transition-timing-function: ease, ease, ease;
          transition-delay: 0s, 0s, 0s;
          -webkit-box-shadow: none;
          box-shadow: none;
        }

        input:focus {
          border: 1px solid $main-yellow;
        }

        input:focus::placeholder {
          color: #5d5d5d;
          opacity: 1; /* Firefox */
        }

        input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #5d5d5d;
        }

        input:focus::-ms-input-placeholder { /* Microsoft Edge */
          color: #5d5d5d;
        }

        input::placeholder {
          color: #dcdcdc;
          opacity: 1; /* Firefox */

        }

        input:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #dcdcdc;
        }

        input::-ms-input-placeholder { /* Microsoft Edge */
          color: #dcdcdc;
        }
      }

      .menu {
        width: 30vw;

        .item {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }

  #welcome-message {
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 3.5rem;
    top: 335px;
    opacity: 0;
    text-shadow: rgba(0,0,0,0.35) 2px 2px 10px;
  }

  #tag-line {
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    top: 395px;
    opacity: 0;
    text-shadow: rgba(0,0,0,0.35) 2px 2px 10px;
  }
}

footer{
  font-size: 1rem;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.navbar.slideDown {
  background-color: unset;
}

.no-padding {
  padding: 0 !important;
}

.sticky {
  top: -60px;
  opacity: 0;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .1);

  -webkit-transition: opacity 0.5s ease, top 0.5s ease;
  -moz-transition: opacity 0.5s ease, top 0.5s ease;
  -ms-transition: opacity 0.5s ease, top 0.5s ease;
  -o-transition: opacity 0.5s ease, top 0.5s ease;
  transition: opacity 0.5s ease, top 0.5s ease;
}

.sticky.slideDown {
  top: 0;
  opacity: 1;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.responsive-padding {
  padding-left: 6rem;
  padding-right: 6rem;
}

.responsive-margin {
  margin-left: 6rem;
  margin-right: 6rem;
}

.quick-contact-info {
  width: 100%;
}

.sticky.slideDown {
  //background-color: #2c2c2c !important;
}

.quick-contact-info {
  height: 2rem;
  position: absolute;
  top: 0;

  .mr-auto {
    margin-left: 1px;
    font-size: 0.71rem;
    color: white;
  }

  .fab, .fas {
    font-size: 0.8rem;
  }

  .fab {
    color: #C7C7C7;
  }

  .fas {
    color: $main-yellow;
  }

  .row {
    height: 100%;
    align-items: center;
  }


  .col-auto {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .right-pad {
    padding-right: 0.8em;
  }

  a {
    font-size: 0.65rem;
    color: #C7C7C7;
    padding-left: 0.8em;
    display: flex;
    justify-content: center;
    flex-direction: row;

    span {
      padding-bottom: 0.1em;
      padding-left: 0.6em;
      padding-right: 0.8em;
    }
  }

  a:hover {
    text-decoration: none;
  }

  i {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column
  }
}

header {
  .navbar {
    background-color: $main-dark-blue !important;
    z-index: 9998;
    padding-left: 5.85rem;
    padding-right: 5.85rem;
    padding-top: 0.7em;

    .navbar-brand {
      margin: 0;

      .logo-img {
        object-fit: cover;
      }
    }

    .justify-content-end {
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      #icon-user {
        padding-top: 0.1em;
        padding-right: 0.5em;
        font-size: 0.6em;
        color: $main-yellow;
      }
    }

    .nav-link {
      color: white !important;
      font-size: 1.25rem;
      padding-left: 0.95rem;
      padding-right: 0.95rem;
    }

    //border-bottom: 2px solid rgba(255, 255, 255, 0.68);

    .justify-content-center {
      padding-top: 0.1em;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);

      .nav-item {
        position: relative;
      }

      .nav-item.dropdown {
        .dropdown-toggle::after {
          margin-left: 0.1em;
        }
      }

      .nav-item:not(.active-underline)::after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 10%;
        opacity: 0;
        border-bottom: $main-dark-grey solid 5px;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -1.04rem;

        transition: width ease-in 0.35s, opacity ease-in 0.35s;
      }

      .nav-item:hover:not(.active-underline)::after {
        width: 75%;
        opacity: 1;

        transition: width ease-out 0.2s, opacity ease-out 0.2s;

      }

      .nav-item.active-underline::after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 75%;
        border-bottom: $main-yellow solid 5px;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -1.04rem;

        transition: bottom 250ms ease-in;
      }

    }
  }

  .nav-button:hover {
    cursor: pointer;
  }

  .navbar.sticky {
    border-bottom: none;

    .nav-item.active-underline::after, .nav-item:not(.active-underline)::after {
      bottom: -0.88rem;
    }

  }
}

@media only screen and (max-width: 768px) {
  .responsive-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .responsive-margin {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  header{
    .navbar {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .navbar {
      justify-content: space-between !important;
    }

    .nav-item.active-underline::after {
      border-bottom: 0 !important;
    }

    .justify-content-end {
      padding-left: 0.95rem;
    }
  }
}

.return-to-top{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8b8b8b;
  color: white;
  min-height: 8vh;
  width: 100%;

  transition: background-color 200ms ease-in;
}

.return-to-top:hover{
  cursor: pointer;
  background-color: $main-dark-grey;
  transition: background-color 500ms ease-out;
}

.book-flight-m{
  display: none;
}