<div class="container-fluid careers-container content-container">
    <div class="basis-100 text-center small-desc">FIND YOUR FUTURE</div>
    <div class="basis-100 text-center big-splash">SFGo Is Hiring Talented Individuals</div>
    <div class="spinner-container small-desc">
        <span>
            <div class="spinner-border" role="status"></div>
            Loading...
        </span>
    </div>
    <div class="job-desc-container white-bg-container is-loading">
    </div>
</div>

<script>
    $(document).ready(function () {
        let qOnce = false;
        let qData;
        $.get('/api/jobs', {}, function (data, status) {
            if (qOnce) return;
            qOnce = true;
            qData = data;
            for (let i = 0; i < qData.length; i++) {
                $('.job-desc-container').append(genCategoryComponent(data[i].type, data[i]['desc']));
            }


            $('.category-container').on('click', function(e){
                $('#jobAppModal').modal('show');
                let targetData = $(this).data('modal-target');

                let $popTarget = $("#populateTarget");
                $popTarget.empty();

                for (let i = 0; i < qData.length; i++) {
                    if(qData[i].type === targetData){
                        let jobs = qData[i]['jobs'];
                        for (let j = 0; j < jobs.length; j++) {
                            $popTarget.append('<div class="title">'+jobs[j].title+'</div><div class="desc">'+jobs[j]["desc"]+'</div>')
                        }
                    }
                }
            });

            function genCategoryComponent(title, description) {
                return "<div class='category-container' data-modal-target='"+title+"'> <div class='title title-top'> " + title + " </div> <div class='category-desc'> <div class='title-desc-container'> <div class='title'> " + title + " </div> <div class='desc'> " + description + " </div> </div> <div class='sym'> <i class='fas fa-chevron-right'></i> </div> </div> </div>"
            }

            $('.spinner-container').animate({
                opacity: 0
            }, 1000);
            setTimeout(function () {
                $('.spinner-container').css('display', 'none');
            }, 1000);
            $('.job-desc-container').animate({
                "opacity": 1
            }, 1500);

        }, 'json')
    });
</script>