<div class="container-fluid careers-container content-container">
    <div class="basis-100 text-center small-desc">FIND YOUR FUTURE</div>
    <div class="basis-100 text-center big-splash">SFGo Is Hiring Talented Individuals</div>
    <div class="spinner-container small-desc">
        <span>
            <div class="spinner-border" role="status"></div>
            Loading...
        </span>
    </div>
    <div class="job-desc-container white-bg-container is-loading">
    </div>
</div>

<script>
    $(document).ready(function () {
        let qOnce = false;
        let qData;
        $.get('/api/jobs', {}, function (data, status) {
            if (qOnce) return;
            qOnce = true;
            qData = data;
            let dKeys = Object.keys(data);
            for (let i = 0; i < dKeys.length; i++) {
                $('.job-desc-container').append(genCategoryComponent(data[dKeys[i]].type, data[dKeys[i]]['desc']));
            }


            $('.category-container').on('click', function(e){
                $('#jobAppModal').modal('show');
                console.info($(this).data('modal-target'));
            });

            function genCategoryComponent(title, description) {
                return "<div class='category-container' data-modal-target='"+title+"'> <div class='title title-top'> " + title + " </div> <div class='category-desc'> <div class='title-desc-container'> <div class='title'> " + title + " </div> <div class='desc'> " + description + " </div> </div> <div class='sym'> <i class='fas fa-chevron-right'></i> </div> </div> </div>"
            }

            $('.spinner-container').animate({
                opacity: 0
            }, 1000);
            setTimeout(function () {
                $('.spinner-container').css('display', 'none');
            }, 1000);
            $('.job-desc-container').animate({
                "opacity": 1
            }, 1500);

        }, 'json')
    });
</script>