<div class="container-fluid home-content content-container">
    <div class="basis-100 text-center small-desc">THE SFGO EXPERIENCE</div>
    <div class="basis-100 text-center big-splash">The New RapidConnect® Credit Cards</div>
    <div class="white-bg-container">
        <div class="new-card-container">
            <div class="left">
                <picture>
                    <source media="(min-width: 769px)"
                            srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/cards.jpg/resize?size=576&auth=MTc5MzczMTIxMA__">
                    <source media="(max-width: 768px)"
                            srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/cards.jpg/resize?size=384&auth=MTc5MzczMTIxMA__">
                    <source media="(max-width: 576px)"
                            srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/cards.jpg/resize?size=288&auth=MTc5MzczMTIxMA__">
                    <img src="https://pixboost.com/api/2/img/http://sfgo.today/img/cards.jpg/asis?auth=MTc5MzczMTIxMA__">
                </picture>
            </div>
            <div class="right" onclick="window.open('/rapid')">
                <div class="click-container">
                    <div class="title">
                        NEW CARDS
                    </div>
                    <div class="desc">
                        Discover a better way to travel and enjoy easier ways to earn miles every day.
                    </div>
                </div>
                <div class="sym">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </div>
        <div class="background-img">
            <div class="box-wrap">
                <div class="box">
                    <div class="box-txt-container" onclick="window.open('./rapid')">
                        <div class="txt-holder">
                            <div class="title">
                                NEW BENEFITS
                            </div>
                            <div class="desc">
                                Turn your everyday purchases into your next getaway, plus with new and improved
                                benefits, earn perks
                                with select cards like 3x miles on affiliated hotels, 2x miles at local restaurants and
                                supermarkets,
                                free checked baggage and priority boarding. Terms and Conditions Apply.
                            </div>
                        </div>
                        <div class="sym">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="basis-100 text-center explore-more">
        <a class="btn" href="javascript:window.navAction('rapid')">EXPLORE MORE</a>
    </div>
    <section class="deals-dest">
        <div class="basis-100 xl-splash">
            Deals & Destinations
        </div>
        <div class="deals-container">
            <div class="deal-card">
                <div class="deal-image first">
                    <picture>
                        <source media="(min-width: 769px)"
                                srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/first.jpg/resize?size=472&auth=MTc5MzczMTIxMA__">
                        <source media="(max-width: 768px)"
                                srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/first.jpg/resize?size=384&auth=MTc5MzczMTIxMA__">
                        <source media="(max-width: 576px)"
                                srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/first.jpg/resize?size=288&auth=MTc5MzczMTIxMA__">
                        <img src="https://pixboost.com/api/2/img/http://sfgo.today/img/first.jpg/asis?auth=MTc5MzczMTIxMA__">
                    </picture>
                </div>
                <div class="txt-sym-container" onclick="window.navAction('rapid')">
                    <div class="txt-container">
                        <div class="title">
                            RAPIDCONNECT DEALS
                        </div>
                        <div class="desc">
                            Looking for a deal to book with miles? You found it. We've compiled some of our best Award
                            Travel
                            deals
                            to destinations all over the world. Check back often - offers update every few days.
                        </div>
                    </div>
                    <div class="sym">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="deal-card">
                <div class="deal-image second">
                    <picture>
                        <source media="(min-width: 769px)"
                                srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/second.jpg/resize?size=472&auth=MTc5MzczMTIxMA__">
                        <source media="(max-width: 768px)"
                                srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/second.jpg/resize?size=384&auth=MTc5MzczMTIxMA__">
                        <source media="(max-width: 576px)"
                                srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/second.jpg/resize?size=288&auth=MTc5MzczMTIxMA__">
                        <img src="https://pixboost.com/api/2/img/http://sfgo.today/img/second.jpg/asis?auth=MTc5MzczMTIxMA__">
                    </picture>
                </div>
                <div class="txt-sym-container" onclick="window.navAction('schedules')">
                    <div class="txt-container">
                        <div class="title">
                            FLIGHTS TO SOCAL
                        </div>
                        <div class="desc">From the beautiful La Jolla beaches to the Rodeo Drive in Los Angeles, you’re
                            bound to
                            discover new and exciting places. Shop deals to Southern California now!
                        </div>
                    </div>
                    <div class="sym">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="deal-card">
                <div class="deal-image third">
                    <picture>
                        <source media="(min-width: 769px)"
                                srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/third.jpg/resize?size=472&auth=MTc5MzczMTIxMA__">
                        <source media="(max-width: 768px)"
                                srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/third.jpg/resize?size=384&auth=MTc5MzczMTIxMA__">
                        <source media="(max-width: 576px)"
                                srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/third.jpg/resize?size=288&auth=MTc5MzczMTIxMA__">
                        <img src="https://pixboost.com/api/2/img/http://sfgo.today/img/third.jpg/asis?auth=MTc5MzczMTIxMA__">
                    </picture>
                </div>

                <div class="txt-sym-container" onclick="window.navAction('schedules')">
                    <div class="txt-container">
                        <div class="title">
                            FLIGHTS TO SEATTLE/OREGON
                        </div>
                        <div class="desc">
                            Pack your bags and explore the great American Northwest! Take advantage of great fares and
                            save
                            first on
                            flights and again on hotels, dining, and shopping when you get there.
                        </div>
                    </div>
                    <div class="sym">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="deal-card">
                <div class="deal-image fourth">
                    <picture>
                        <source media="(min-width: 769px)"
                                srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/fourth.jpg/resize?size=472&auth=MTc5MzczMTIxMA__">
                        <source media="(max-width: 768px)"
                                srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/fourth.jpg/resize?size=384&auth=MTc5MzczMTIxMA__">
                        <source media="(max-width: 576px)"
                                srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/fourth.jpg/resize?size=288&auth=MTc5MzczMTIxMA__">
                        <img src="https://pixboost.com/api/2/img/http://sfgo.today/img/fourth.jpg/asis?auth=MTc5MzczMTIxMA__">
                    </picture>
                </div>
                <div class="txt-sym-container" onclick="window.navAction('schedules')">
                    <div class="txt-container">
                        <div class="title">
                            FLIGHTS TO NEVADA + ARIZONA + COLORADO
                        </div>
                        <div class="desc">
                            Explore the famous Grand Canyon and Rocky Mountains in these great states. Book now with
                            rapid
                            connect
                            for deals on premium seating and bump ups.
                        </div>
                    </div>
                    <div class="sym">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('.deals-container').slick({
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 10000,
                    speed: 1000,
                    dots: true,
                    responsive: [
                        {
                            breakpoint: 576,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ]
                });

            });
            $('.deal-image.first > picture > img').on('load', function () {
                let height = $('.deal-image.first').outerHeight() * 2;
                $('.deal-card').css('min-height', height);
            });
        </script>
    </section>
</div>