<div class="container-fluid programs-container content-container">
    <div class="basis-100 text-center small-desc" data-anchor="frequent">FREQUENT FLYER PROGRAM</div>
    <div class="basis-100 text-center big-splash">Fly SFGo And Get Flights On Us</div>

    <div class="white-bg-container">
        <div class="prime-desc order-2">
            Save money and explore with every mile through us
        </div>
        <div class="img-desc first order-1">
            <picture>
                <source media="(min-width: 769px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/planes-airport.jpg/resize?size=472&auth=MTc5MzczMTIxMA__">
                <source media="(max-width: 768px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/planes-airport.jpg/resize?size=384&auth=MTc5MzczMTIxMA__">
                <source media="(max-width: 576px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/planes-airport.jpg/resize?size=288&auth=MTc5MzczMTIxMA__">
                <img src="https://pixboost.com/api/2/img/http://sfgo.today/img/planes-airport.jpg/asis?auth=MTc5MzczMTIxMA__">
            </picture>
        </div>

        <div class="img-desc order-3">
            <picture>
                <source media="(min-width: 769px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/chef.jpg/resize?size=472&auth=MTc5MzczMTIxMA__">
                <source media="(max-width: 768px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/chef.jpg/resize?size=384&auth=MTc5MzczMTIxMA__">
                <source media="(max-width: 576px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/chef.jpg/resize?size=288&auth=MTc5MzczMTIxMA__">
                <img src="https://pixboost.com/api/2/img/http://sfgo.today/img/chef.jpg/asis?auth=MTc5MzczMTIxMA__">
            </picture>
        </div>

        <div class="prime-desc shift-right order-4">
            Get points for food at world renowned restaurants
        </div>

        <div class="prime-desc order-6">
            Save on hotel prices at any destination
        </div>
        <div class="img-desc order-5">
            <picture>
                <source media="(min-width: 769px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/hotel-pool.jpg/resize?size=472&auth=MTc5MzczMTIxMA__">
                <source media="(max-width: 768px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/hotel-pool.jpg/resize?size=384&auth=MTc5MzczMTIxMA__">
                <source media="(max-width: 576px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/hotel-pool.jpg/resize?size=288&auth=MTc5MzczMTIxMA__">
                <img src="https://pixboost.com/api/2/img/http://sfgo.today/img/hotel-pool.jpg/asis?auth=MTc5MzczMTIxMA__">
            </picture>
        </div>
    </div>

    <div class="basis-100 text-center small-desc" data-anchor="rapid">RAPID CONNECT PROGRAM</div>
    <div class="basis-100 text-center big-splash">Get Points For Booking Through Us</div>

    <div class="white-bg-container">
        <div class="prime-desc order-2">
            Seamlessly connect with other airlines
        </div>
        <div class="img-desc order-1">
            <picture>
                <source media="(min-width: 769px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/comfy-sleep.jpg/resize?size=472&auth=MTc5MzczMTIxMA__">
                <source media="(max-width: 768px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/comfy-sleep.jpg/resize?size=384&auth=MTc5MzczMTIxMA__">
                <source media="(max-width: 576px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/comfy-sleep.jpg/resize?size=288&auth=MTc5MzczMTIxMA__">
                <img src="https://pixboost.com/api/2/img/http://sfgo.today/img/comfy-sleep.jpg/asis?auth=MTc5MzczMTIxMA__">
            </picture>

        </div>
        <div class="img-desc order-3">
            <picture>
                <source media="(min-width: 769px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/plane-takeoff.jpg/resize?size=472&auth=MTc5MzczMTIxMA__">
                <source media="(max-width: 768px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/plane-takeoff.jpg/resize?size=384&auth=MTc5MzczMTIxMA__">
                <source media="(max-width: 576px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/plane-takeoff.jpg/resize?size=288&auth=MTc5MzczMTIxMA__">
                <img src="https://pixboost.com/api/2/img/http://sfgo.today/img/plane-takeoff.jpg/asis?auth=MTc5MzczMTIxMA__">
            </picture>

        </div>
        <div class="prime-desc shift-right order-6">
            Find the cheapest and fastest flights
        </div>
        <div class="prime-desc order-4">
            Earn reduced points for flying other airlines
        </div>
        <div class="img-desc order-5">
            <picture>
                <source media="(min-width: 769px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/explorer.jpg/resize?size=472&auth=MTc5MzczMTIxMA__">
                <source media="(max-width: 768px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/explorer.jpg/resize?size=384&auth=MTc5MzczMTIxMA__">
                <source media="(max-width: 576px)"
                        srcset="https://pixboost.com/api/2/img/http://sfgo.today/img/explorer.jpg/resize?size=288&auth=MTc5MzczMTIxMA__">
                <img src="https://pixboost.com/api/2/img/http://sfgo.today/img/explorer.jpg/asis?auth=MTc5MzczMTIxMA__">
            </picture>
        </div>
    </div>


    <div class="basis-100 text-center explore-more">
        <a class="btn" href="javascript:window.navAction('programs')">BOOK THROUGH US NOW</a>
    </div>
</div>

<script>
    $(document).ready(function () {
        if (window.PROGRAM_LOC && ['rapid', 'frequent'].includes(window.PROGRAM_LOC)) {
            setTimeout(function () {
                $([document.documentElement, document.body]).animate({
                    scrollTop: $("[data-anchor=" + window.PROGRAM_LOC + "]").first().offset().top - screen.height / 4
                }, 1500);
            }, 10);
        }

        $('.img-desc.first > picture > img').on('load', function () {
            let height = $('.img-desc.first').outerHeight();
            $('.img-desc:not(".first") > picture > img').css('height', height);
        });
    });
</script>