<div class="container-fluid content">
    <p style="height: 2000px; display: flex; align-items: center; justify-content: center">Frequent Flier</p>
    <p>As fellow avid air travellers, we believe that you should be rewarded for flying with us. With the Frequent Flier program, earn rewards points for every mile you travel with our airlines.</p>

    <p style="height: 2000px; display: flex; align-items: center; justify-content: center">Rapid Connect</p>
    <p>For using our website so often, we want to give back with the Rapid Connect program. Every mile that you travel, through any airlines, will result in rewards points when you use our website.</p>
</div>