<link href="https://fonts.googleapis.com/css?family=Garamond|Nanum+Gothic|Kaushan+Script|Amaranth|Courgette|Faster+One|Playfair+Display+SC|Prompt|Pacifico|Trade+Winds&display=swap" rel="stylesheet">
<div class="container-fluid content" style="height: 2000px">
    <p style="height: 50px; display: flex; align-items: center; justify-content: center">SCHEDULES</p>
    <table border=2px style="display: flex; align-items: center; justify-content: center" align = "center">
    	<tr>
    		<td><strong>Airlines</strong></td>
    		<td><strong>Start</strong></td>
    		<td><strong>Destination</strong></td>
    	</tr>
    	<tr>
    		<td style="font-family: Trade Winds">Pacific Airlines</td>
    		<td>San Francisco, CA</td>
    		<td>Juneau, AK</td>
    	</tr>
    	<tr>
    		<td style="font-family: Pacifico">Journeyman</td>
    		<td>Phoenix, AZ</td>
    		<td>Seattle, WA</td>
    	</tr>
    	<tr>
    		<td style="font-family: Playfair Display SC">Northeastern Airlines</td>
    		<td>New York City, NY</td>
    		<td>St. Louis, MO</td>
    	</tr>

    	<tr>
    		<td style="font-family: Prompt">Pioneer Airlines</td>
    		<td>San Francisco, CA</td>
    		<td>Dallas, TX</td>
    	</tr>

    	<tr>
    		<td style="font-family: Faster One">EagleAir</td>
    		<td>Las Vegas, NV</td>
    		<td>Atlanta, GA</td>
    	</tr>

    	<tr>
    		<td style="font-family: Courgette">Fearless Flyer</td>
    		<td>San Francisco, CA</td>
    		<td>Toronto, ON, Canada</td>
    	</tr>

    	<tr>
    		<td style="font-family: Amaranth">Summit Airways</td>
    		<td>Chicago, IL</td>
    		<td>Denver, CO</td>
    	</tr>
    	<tr>
    		<td style="font-family: Garamond">Midwest Airlines</td>
    		<td>Kansas City, MO</td>
    		<td>Oklahoma City, OK</td>
    	</tr>
    	<tr>
    		<td style="font-family: Kaushan Script">Majestic Airways</td>
    		<td>San Francisco, CA</td>
    		<td>Honolulu, HI</td>
    	</tr>
    	<tr>
    		<td style="font-family: Nanum Gothic">TransAtlantic</td>
    		<td>Washington, DC</td>
    		<td>London, England</td>
    	</tr>
    </table>
</div>
